doctype html
html
    head
        title CSV Maker
        
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="index.css", type="text/css")
    body
        .container: .csv-maker
            h1 &nbsp Map Column Headers
            table#table-content.table.table-striped.table-bordered
                thead: tr
                    th 
                        select#categoryFirstName.form-control(name="categoryFirstName")
                            option(value= 'firstName' selected= true) First Name
                            option(value= 'lastName') Last Name
                            option(value= 'jersey') Jersey #
                            option(value= 'pos') Pos.
                            option(value= 'bt') B/T
                            option(value= 'cl') Cl.
                            option(value= 'ht') Ht.
                            option(value= 'wt') Wt.
                            option(value= 'home') Hometown/High School
                    th
                        select#categoryLastName.form-control(name="categoryLastName")
                            option(value= 'firstName') First Name
                            option(value= 'lastName' selected= true) Last Name
                            option(value= 'jersey') Jersey #
                            option(value= 'pos') Pos.
                            option(value= 'bt') B/T
                            option(value= 'cl') Cl.
                            option(value= 'ht') Ht.
                            option(value= 'wt') Wt.
                            option(value= 'home') Hometown/High School
                    th
                        select#categoryJersey.form-control(name="categoryJersey")
                            option(value= 'firstName') First Name
                            option(value= 'lastName') Last Name
                            option(value= 'jersey' selected= true) Jersey #
                            option(value= 'pos') Pos.
                            option(value= 'bt') B/T
                            option(value= 'cl') Cl.
                            option(value= 'ht') Ht.
                            option(value= 'wt') Wt.
                            option(value= 'home') Hometown/High School
                    th
                        select#categoryPos.form-control(name="categoryPos")
                            option(value= 'firstName') First Name
                            option(value= 'lastName') Last Name
                            option(value= 'jersey') Jersey #
                            option(value= 'pos' selected= true) Pos.
                            option(value= 'bt') B/T
                            option(value= 'cl') Cl.
                            option(value= 'ht') Ht.
                            option(value= 'wt') Wt.
                            option(value= 'home') Hometown/High School
                    th
                        select#categoryBt.form-control(name="categoryBt")
                            option(value= 'firstName') First Name
                            option(value= 'lastName') Last Name
                            option(value= 'jersey') Jersey #
                            option(value= 'pos') Pos.
                            option(value= 'bt' selected= true) B/T
                            option(value= 'cl') Cl.
                            option(value= 'ht') Ht.
                            option(value= 'wt') Wt.
                            option(value= 'home') Hometown/High School
                    th
                        select#categoryCl.form-control(name="categoryCl")
                            option(value= 'firstName') First Name
                            option(value= 'lastName') Last Name
                            option(value= 'jersey') Jersey #
                            option(value= 'pos') Pos.
                            option(value= 'bt') B/T
                            option(value= 'cl' selected= true) Cl.
                            option(value= 'ht') Ht.
                            option(value= 'wt') Wt.
                            option(value= 'home') Hometown/High School
                    th
                        select#categoryHt.form-control(name="categoryHt")
                            option(value= 'firstName') First Name
                            option(value= 'lastName') Last Name
                            option(value= 'jersey') Jersey #
                            option(value= 'pos') Pos.
                            option(value= 'bt') B/T
                            option(value= 'cl') Cl.
                            option(value= 'ht' selected= true) Ht.
                            option(value= 'wt') Wt.
                            option(value= 'home') Hometown/High School
                    th
                        select#categoryWt.form-control(name="categoryWt")
                            option(value= 'firstName') First Name
                            option(value= 'lastName') Last Name
                            option(value= 'jersey') Jersey #
                            option(value= 'pos') Pos.
                            option(value= 'bt') B/T
                            option(value= 'cl') Cl.
                            option(value= 'ht') Ht.
                            option(value= 'wt' selected= true) Wt.
                            option(value= 'home') Hometown/High School
                    th
                        select#categoryHome.form-control(name="categoryHome")
                            option(value= 'firstName') First Name
                            option(value= 'lastName') Last Name
                            option(value= 'jersey') Jersey #
                            option(value= 'pos') Pos.
                            option(value= 'bt') B/T
                            option(value= 'cl') Cl.
                            option(value= 'ht') Ht.
                            option(value= 'wt') Wt.
                            option(value= 'home' selected= true) Hometown/High School
                tbody
                    each val in content
                        tr
                            td= val.firstName
                            td= val.lastName
                            td= val.jersey
                            td= val.pos
                            td= val.bt
                            td= val.cl
                            td= val.ht
                            td= val.wt
                            td= val.home
            .row
                .col: button.btn.btn-primary.btn-lg.form-control(onclick= 'generateFlightscopeCSV()') Generate Flightscope CSV
                .col: button.btn.btn-primary.btn-lg.form-control(onclick= 'generateDatabaseCSV()') Generate Database CSV
            h2
            .row
                .col: button.btn.btn-primary.btn-lg.form-control(onclick= 'addAnotherTeamToCSV()') Add Another Team to CSV
                .col: button.btn.btn-primary.btn-lg.form-control(onclick= 'goBack()') Go Back  
            
        input#csvName(type= "hidden", value=name)
        input#csvLevel(type= "hidden", value=level)
        input#csvLength(type= "hidden", value=length)
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
        script.
            var name = $('#csvName').val();
            var level = $('#csvLevel').val();
            var length = $('#csvLength').val();

            var generateFlightscopeCSV = function() {
                $.post('/generateFlightscopeCSV', {
                    params: [$('#categoryJersey').val(), $('#categoryFirstName').val(), $('#categoryLastName').val(), $('#categoryPos').val(), 
                                $('#categoryCl').val(), $('#categoryHt').val(), $('#categoryWt').val(), $('#categoryHome').val(), $('#categoryBt').val(), $('#csvLength').val()]
                },function (content) {
                    var file_path = 'Flightscope.csv';
                    var a = document.createElement('A');
                    a.href = file_path;
                    a.download = file_path.substr(file_path.lastIndexOf('/') + 1);
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                });
            }

            var generateDatabaseCSV = function() {
                $.post('/generateDatabaseCSV', {
                    params: [$('#categoryJersey').val(), $('#categoryFirstName').val(), $('#categoryLastName').val(), $('#categoryPos').val(), 
                                $('#categoryCl').val(), $('#categoryHt').val(), $('#categoryWt').val(), $('#categoryHome').val(), $('#categoryBt').val(), $('#csvLength').val()]
                },function (content) {
                    var file_path = 'Database.csv';
                    var a = document.createElement('A');
                    a.href = file_path;
                    a.download = file_path.substr(file_path.lastIndexOf('/') + 1);
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                });
            }
            
            var addAnotherTeamToCSV = function() {
                
                $.post('/addAnotherTeamToCSV', {
                    params: [$('#categoryJersey').val(), $('#categoryFirstName').val(), $('#categoryLastName').val(), $('#categoryPos').val(), 
                                $('#categoryCl').val(), $('#categoryHt').val(), $('#categoryWt').val(), $('#categoryHome').val(), $('#categoryBt').val(), $('#csvLength').val()]
                },function (content) {
                    window.location.href="/";
                });
            }

            var goBack = function() {
                $.post('/goBack', {
                    length: $('#csvLength').val()
                }, function (content) {
                    window.location.href = "/";
                });
            } 