doctype html
html
    head
        title CSV Maker
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", crossorigin="anonymous")
        link(rel="stylesheet", href="index.css", type="text/css")
    body
        .container: .csv-maker
            form(action="/next", method="post")
                .form-group
                    label(for="name"): h2 What is the name of this team?
                    input#name.form-control(type="text", name="name")
                .form-group
                    label(for="level"): h2 What level do they play?
                    select#level.form-control(name="level")
                        option High School
                        option NCAA D1
                        option NCAA D2
                        option NCAA D3
                        option NAIA
                        option Juco
                .form-group
                    label(for="content"): h2 Copy/Paste Roster Below
                    textarea#content.form-control(name="content", rows="20")
                .form-group
                    button.form-control.btn.btn-info(type="submit") Next
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    </body>
</html>
